.challenge-container {
  height: 100%;
}

.challenge-component-container {
  min-height: 100%;
  height: max-content;
}

.challenge-button-container {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1000; 
  padding: .5rem 0 1rem 0;
  gap: 6px;
  bottom: 0;
  background-color: white;
}

.selected {
  background: var(--ion-gradient-400) !important;
  color: white !important;
  border-radius: 9px;
}

.not-selected {
  background-color: transparent !important;
  border: 3.15px solid var(--ion-color-600);
  color: black !important;
  border-radius: 9px;
}
