#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
}

#container .titleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  width: 100%;
  height: 80%;
}

#container .buttonArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 20%;
  gap: 1rem;
}
