.challenge-generate-by-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: .5rem;
  border: 1.5px solid rgb(81, 81, 81);
  border-radius: 8px;
  gap: .7rem;
}

.challenge-generate-for-text {
  text-wrap: wrap;
}

.challenge-generate-for {
  font-weight: 450;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: .85rem;
  max-width: 90%;
}

.challenge-generate-by-area {
  width: 100%;
  display: flex;
  gap: .7rem;
}

.challenge-generate-by-image {
  max-width: 120px;
  min-width: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.challenge-generate-by-infos {
  display: flex;
  flex-direction: column;
  gap: .55rem;
}

.challenge-generate-by-title {
  font-weight: 650;
  text-wrap: wrap;
}


.challenge-generate-by-people {
  display: flex;
  gap: .3rem;
  font-weight: 500;
  text-wrap: wrap;
  font-size: .8rem;
  align-items: center;
}

.challenge-generate-by-people-logo {
  width: 20px;
  height: 20px;
}

.challenge-generate-by-join-button {
  width: 100%;
}