.trends-challenge-items-container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.228);
  border-radius: 8px;
  gap: .7rem;
}

.trends-challenge-items-logo-area {
  min-width: 60px;
  min-height: 60px;
  padding: 1rem;
  padding: .5rem;
  border-radius: 8px;
}

.trends-challenge-items-logo {
  width: 35px;
  height: 35px;
}

.trends-challenge-items-text {
  gap: .5rem;
}

.arrow-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.trends-challenge-items-caretForwardOutline {
  color: black;
  width: 20px;
  height: 20px;
}

.easy {
  background-color: rgb(184, 255, 181);
}

.medium {
  background-color: rgb(255, 225, 159);
}

.hard {
  background-color: rgb(255, 207, 207);
}