.hobbies-categorie {
  width: 100%;
  height: auto;
  color: var(--ion-color-dark);
  background: var(--ion-color-50);
  border: 2px solid var(--ion-color-400);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem 1rem;
}


.hobbies-categorie.selected {
  border: 2px solid var(--ion-color-dark);
}