.for-you-tweet-container {
  display: flex;
  gap: .4rem;
}

.for-you-tweet-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .65rem;
}

.for-you-tweet-profile-picture {
  width: 37px;
  height: 37px;
  background-color: red;
  border-radius: 50%;
  object-fit: contain;
}

.for-you-tweet-line {
  flex: 0.9;
  width: 2.35px;
  background-color: rgb(209, 209, 209);
}

.for-you-tweet-right-container {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  flex: 1;
}

.for-you-tweet-users-area {
  display: flex;
  gap: .5rem;
}

.for-you-tweet-interaction {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .4rem;
  font-weight: 400;
}

.for-you-tweet-like {
  width: 18px;
  height: 18px;
}
