.goalitems-items {
  height: 100% ;
  padding: 4rem 1rem;
  border-radius: 10px;
}
.goalitems-items-logo{
  display: grid;
  place-content: center;
}
.goalitems-items-logo img{
  height:100px;
}
.goalitems-items-title{
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.goalitems-items-subtitle{
  margin-top: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
}