.calendar-container {
  background-color: #1c1c1c;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
}

.calendar-header {
  color: white;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 500;
}

.calendar-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -2px 1rem -2px;
}

.calendar-day, .special-day {
  width: calc((100% - 21px) / 7);
  padding: 20px;
  margin: 0 0 5px 0;
  text-align: center;
  font-weight: 500;
  color: #99989b;
}

.special-day {
  background-color: rgb(91, 91, 255);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
