@font-face {
  font-family: "Monteserrat";
  src: url("./src/font/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Monteserrat";
  color: black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.redtoaststyle {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--ion-toast-red);
  --background: var(--ion-toast-background)
}

.greentoaststyle {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--ion-toast-green);
  --background: var(--ion-toast-background)
}

.newchallengetoast {
  font-size: 1.21rem;
  font-weight: 700;
  color: var(--ion-color-800);
  --background: var(--ion-toast-background)
}

.easy {
  background-color: var(--easy-item-color)
}

.medium {
  background-color: var(--medium-item-color);
}

.hard {
  background-color: var(--hard-item-color);
}

a {
  text-decoration: none;
  color: black;
}