@font-face {
  font-family: "Monteserrat";
  src: url("./src/font/Montserrat-VariableFont_wght.ttf");
}

* {
  font-family: "Monteserrat";
  color: black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.redtoaststyle {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--ion-toast-red);
  --background: var(--ion-toast-background)
}

.greentoaststyle {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--ion-toast-green);
  --background: var(--ion-toast-background)
}