.challenge-modal-container {
  display: flex;
  flex-direction: column;

  background: var(
    --gradient,
    linear-gradient(180deg, #02c7aa 0%, #00a286 100%)
  );
}

.challenge-modal-button {
  background-color: white;
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.challenge-modal-button-not-selected {
  background-color: transparent !important;
  border: 3.15px solid var(--ion-color-600);
  color: black !important;
  border-radius: 9px;
}

.challenge-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
.challenge-modal-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.tag{
  background-color: paleturquoise;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  font-size: 0.8rem;
}
.description{
  padding: 0rem 1rem 2rem 1rem;
  text-align: center;
}
.challenge-modal-description{
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  padding: 1rem;
}
.challenge-modal-description-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.challenge-modal-description-user{
  font-size: 0.9rem;
}

.status-tag{
  background-color: rgb(79, 239, 82);
  padding: 0.2rem 1rem;
  border-radius: 20px;
  font-size: 0.8rem;
}
.challenge-modal-description-stats{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 8px;
  margin-top: 1rem;
}

.challenge-modal-description-stat{
  padding: 0.4rem 1rem;
  border-radius: 8px;
  border: 2px solid var(--gradient, #02C7AA);
}
.challenge-modal-description-comment{
  margin-top: 2rem;
}
.challenge-modal-description-comment-container{
  display: flex;
  gap: 1rem;
}
.challenge-modal-description-comment-image-container{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.challenge-modal-description-comment-image{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.challenge-modal-description-comment-text{
  font-size: 0.8rem;
  line-height: 1.1rem;
}
