#containerSetGoal {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.setgoal-title-area {
  height: 12%;
  display:grid;
  place-content: center;
}

.setgoal-texting-area {
  height: 76%;
}

/* Button */
.setgoal-button-area {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 12%;
  gap: 1rem;
}

.button_prev{
  font-size: 1rem;
  color: #00302B ;
  border-radius: 10px;
  background-color: transparent;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  border: 2px #02C7AA solid;
  width: 100%;
}
.button_next{
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  background: linear-gradient(180deg, #02C7AA 0%, #00A286 115.07%);
  width: 100%;
}