.containerProgressBar {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
  height: 25px;
}

.containerProgressBar > .progressbar {
  border-radius: 100px;
}